.swiper-button-next,
.swiper-button-prev
{
    color: #0db960;

    top: auto;
    bottom: 0;

    display: flex;

    width: 40px;
    height: 40px;
    margin: 0;

    transform: none;
    text-align: center;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.swiper-button-prev
{
    left: 0;
}

.swiper-button-next
{
    right: 0;
}

.swiper-button-next:after,
.swiper-button-prev:after
{
    font-size: 35px;

    display: block;
}


.swiper-button-next .icon,
.swiper-button-prev .icon
{
    display: block;

    width: 19px;
    height: 16px;
}

.swiper-button-next .icon
{
    transform: rotate(180deg);
}


.swiper-button-next:hover,
.swiper-button-prev:hover
{
    color: #0098ff;
}



.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet
{
    margin: 0;
}



.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction
{
    position: absolute;
    bottom: 8px;
    left: 0;

    display: flex;

    width: 100%;
    height: 14px;

    pointer-events: none;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.swiper-pagination-bullet
{
    display: block;

    width: 14px;
    height: 14px;

    transition: .2s linear;
    pointer-events: auto;

    opacity: .5;
    border: 3px solid #fff;
    background: #ccd5eb;
}

.swiper-pagination-bullet + .swiper-pagination-bullet
{
    margin-left: 7px !important;
}

.swiper-pagination-bullet:hover,
.swiper-pagination-bullet.active
{
    opacity: 1;
    border-color: transparent;
    background: radial-gradient(93.77% 93.77% at 3.1% 57.48%, rgba(210, 255, 174, .38) 0%, rgba(210, 255, 174, 0) 100%), #0db960;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet
{
    margin: 0;
}
