.s-articles
	.wrap
		h2.s-what-title Полезные материалы
		.s-task-descr по офомлению и защите студенческих работ
		.s-what-line.flex.flexcenter
			span.style1
			span
		.s-articles-slider
			.swiper.js-sliderarticles.swiper-container
				.swiper-wrapper
					.swiper-slide
						.s-articles-slider-item
							.s-info-tasks-item-cats
								.s-info-tasks-item-cat Категория
							.s-info-tasks-item-title Дипломная работа
							.s-articles-slider-item-stat.flex.flexalcenter
								.s-task-slider-item-rating
									.stars
										.on(style="width: 78%;")
								.s-articles-slider-item-info Оценок <strong>42</strong>
								.s-articles-slider-item-info Рейтинг <strong>4.9</strong>
							.s-what-slider-item-bottom.flex.flexbetween.flexalcenter
								.s-what-slider-item-button
									a(href="#").s-what-slider-item-btn.s-header-btn.flex.flexalcenter.flexcenter
										span Читать полностью
								.s-articles-slider-item-share
									a(href="#")
										img.svg(src="img/icon-share.svg" alt="img")
					.swiper-slide
						.s-articles-slider-item
							.s-info-tasks-item-cats
								.s-info-tasks-item-cat Категория
							.s-info-tasks-item-title Дипломная работа
							.s-articles-slider-item-stat.flex.flexalcenter
								.s-task-slider-item-rating
									.stars
										.on(style="width: 78%;")
								.s-articles-slider-item-info Оценок <strong>42</strong>
								.s-articles-slider-item-info Рейтинг <strong>4.9</strong>
							.s-what-slider-item-bottom.flex.flexbetween.flexalcenter
								.s-what-slider-item-button
									a(href="#").s-what-slider-item-btn.s-header-btn.flex.flexalcenter.flexcenter
										span Читать полностью
								.s-articles-slider-item-share
									a(href="#")
										img.svg(src="img/icon-share.svg" alt="img")
					.swiper-slide
						.s-articles-slider-item
							.s-info-tasks-item-cats
								.s-info-tasks-item-cat Категория
							.s-info-tasks-item-title Дипломная работа
							.s-articles-slider-item-stat.flex.flexalcenter
								.s-task-slider-item-rating
									.stars
										.on(style="width: 78%;")
								.s-articles-slider-item-info Оценок <strong>42</strong>
								.s-articles-slider-item-info Рейтинг <strong>4.9</strong>
							.s-what-slider-item-bottom.flex.flexbetween.flexalcenter
								.s-what-slider-item-button
									a(href="#").s-what-slider-item-btn.s-header-btn.flex.flexalcenter.flexcenter
										span Читать полностью
								.s-articles-slider-item-share
									a(href="#")
										img.svg(src="img/icon-share.svg" alt="img")
					.swiper-slide
						.s-articles-slider-item
							.s-info-tasks-item-cats
								.s-info-tasks-item-cat Категория
							.s-info-tasks-item-title Дипломная работа
							.s-articles-slider-item-stat.flex.flexalcenter
								.s-task-slider-item-rating
									.stars
										.on(style="width: 78%;")
								.s-articles-slider-item-info Оценок <strong>42</strong>
								.s-articles-slider-item-info Рейтинг <strong>4.9</strong>
							.s-what-slider-item-bottom.flex.flexbetween.flexalcenter
								.s-what-slider-item-button
									a(href="#").s-what-slider-item-btn.s-header-btn.flex.flexalcenter.flexcenter
										span Читать полностью
								.s-articles-slider-item-share
									a(href="#")
										img.svg(src="img/icon-share.svg" alt="img")
					.swiper-slide
						.s-articles-slider-item
							.s-info-tasks-item-cats
								.s-info-tasks-item-cat Категория
							.s-info-tasks-item-title Дипломная работа
							.s-articles-slider-item-stat.flex.flexalcenter
								.s-task-slider-item-rating
									.stars
										.on(style="width: 78%;")
								.s-articles-slider-item-info Оценок <strong>42</strong>
								.s-articles-slider-item-info Рейтинг <strong>4.9</strong>
							.s-what-slider-item-bottom.flex.flexbetween.flexalcenter
								.s-what-slider-item-button
									a(href="#").s-what-slider-item-btn.s-header-btn.flex.flexalcenter.flexcenter
										span Читать полностью
								.s-articles-slider-item-share
									a(href="#")
										img.svg(src="img/icon-share.svg" alt="img")
					.swiper-slide
						.s-articles-slider-item
							.s-info-tasks-item-cats
								.s-info-tasks-item-cat Категория
							.s-info-tasks-item-title Дипломная работа
							.s-articles-slider-item-stat.flex.flexalcenter
								.s-task-slider-item-rating
									.stars
										.on(style="width: 78%;")
								.s-articles-slider-item-info Оценок <strong>42</strong>
								.s-articles-slider-item-info Рейтинг <strong>4.9</strong>
							.s-what-slider-item-bottom.flex.flexbetween.flexalcenter
								.s-what-slider-item-button
									a(href="#").s-what-slider-item-btn.s-header-btn.flex.flexalcenter.flexcenter
										span Читать полностью
								.s-articles-slider-item-share
									a(href="#")
										img.svg(src="img/icon-share.svg" alt="img")
					.swiper-slide
						.s-articles-slider-item
							.s-info-tasks-item-cats
								.s-info-tasks-item-cat Категория
							.s-info-tasks-item-title Дипломная работа
							.s-articles-slider-item-stat.flex.flexalcenter
								.s-task-slider-item-rating
									.stars
										.on(style="width: 78%;")
								.s-articles-slider-item-info Оценок <strong>42</strong>
								.s-articles-slider-item-info Рейтинг <strong>4.9</strong>
							.s-what-slider-item-bottom.flex.flexbetween.flexalcenter
								.s-what-slider-item-button
									a(href="#").s-what-slider-item-btn.s-header-btn.flex.flexalcenter.flexcenter
										span Читать полностью
								.s-articles-slider-item-share
									a(href="#")
										img.svg(src="img/icon-share.svg" alt="img")
					.swiper-slide
						.s-articles-slider-item
							.s-info-tasks-item-cats
								.s-info-tasks-item-cat Категория
							.s-info-tasks-item-title Дипломная работа
							.s-articles-slider-item-stat.flex.flexalcenter
								.s-task-slider-item-rating
									.stars
										.on(style="width: 78%;")
								.s-articles-slider-item-info Оценок <strong>42</strong>
								.s-articles-slider-item-info Рейтинг <strong>4.9</strong>
							.s-what-slider-item-bottom.flex.flexbetween.flexalcenter
								.s-what-slider-item-button
									a(href="#").s-what-slider-item-btn.s-header-btn.flex.flexalcenter.flexcenter
										span Читать полностью
								.s-articles-slider-item-share
									a(href="#")
										img.svg(src="img/icon-share.svg" alt="img")
				.articles-pagination.s-what-slider-pagination
			.s-what-slider-arrow.next.js-next3
			.s-what-slider-arrow.prev.js-prev3




		
									