.s-faq
	.wrap
		h2.s-what-title Остались вопросы?
		.s-task-descr Частые вопросы <span class="br"></span>по написанию курсовой
		.s-what-line.flex.flexcenter
			span.style1
			span
		ul.s-faq-list
			li
				.s-faq-item
					.s-faq-title Сколько стоит помощь?
					.s-faq-text Формирование имиджа без оглядки на авторитеты притягивает анализ зарубежного опыта. Охват аудитории правомочен. По мнению ведущих маркетологов, тактика выстраивания отношений с коммерсчекими агентами концентрирует поведенческий таргетинг. Идеология выстраивания бренда традиционно консолидирует потребительский рейтинг. Имидж транслирует формирование имиджа.
			li
				.s-faq-item
					.s-faq-title.active Выполняете ли вы срочные заказы?
					.s-faq-text.active Формирование имиджа без оглядки на авторитеты притягивает анализ зарубежного опыта. Охват аудитории правомочен. По мнению ведущих маркетологов, тактика выстраивания отношений с коммерсчекими агентами концентрирует поведенческий таргетинг. Идеология выстраивания бренда традиционно консолидирует потребительский рейтинг. Имидж транслирует формирование имиджа.
			li
				.s-faq-item
					.s-faq-title Если потребуется доработка или дополнительная консультация, это бесплатно?
					.s-faq-text Формирование имиджа без оглядки на авторитеты притягивает анализ зарубежного опыта. Охват аудитории правомочен. По мнению ведущих маркетологов, тактика выстраивания отношений с коммерсчекими агентами концентрирует поведенческий таргетинг. Идеология выстраивания бренда традиционно консолидирует потребительский рейтинг. Имидж транслирует формирование имиджа.
			li
				.s-faq-item
					.s-faq-title Я разместил заказ Могу ли я не платить, если меня не устроит стоимость?
					.s-faq-text Формирование имиджа без оглядки на авторитеты притягивает анализ зарубежного опыта. Охват аудитории правомочен. По мнению ведущих маркетологов, тактика выстраивания отношений с коммерсчекими агентами концентрирует поведенческий таргетинг. Идеология выстраивания бренда традиционно консолидирует потребительский рейтинг. Имидж транслирует формирование имиджа.
			li
				.s-faq-item
					.s-faq-title Каким способом можно произвести оплату?
					.s-faq-text Формирование имиджа без оглядки на авторитеты притягивает анализ зарубежного опыта. Охват аудитории правомочен. По мнению ведущих маркетологов, тактика выстраивания отношений с коммерсчекими агентами концентрирует поведенческий таргетинг. Идеология выстраивания бренда традиционно консолидирует потребительский рейтинг. Имидж транслирует формирование имиджа.
			li
				.s-faq-item
					.s-faq-title Предоставляете ли вы гарантии на услуги?
					.s-faq-text Формирование имиджа без оглядки на авторитеты притягивает анализ зарубежного опыта. Охват аудитории правомочен. По мнению ведущих маркетологов, тактика выстраивания отношений с коммерсчекими агентами концентрирует поведенческий таргетинг. Идеология выстраивания бренда традиционно консолидирует потребительский рейтинг. Имидж транслирует формирование имиджа.


		
									