.s-footer
	.wrap
		ul.s-footer-pay.flex.flexalstretch
			li
				.s-footer-pay-item.flex.flexalcenter.flexcenter
					picture
						source(srcset='img/icon-pay1-mob.svg' media='(max-width: 565px)')
						img.img-responsive(src="img/icon-pay1.svg" alt="img")
			li
				.s-footer-pay-item.flex.flexalcenter.flexcenter
					picture
						source(srcset='img/icon-pay2-mob.svg' media='(max-width: 565px)')
						img.img-responsive(src="img/icon-pay2.svg" alt="img")
			li
				.s-footer-pay-item.flex.flexalcenter.flexcenter
					picture
						source(srcset='img/icon-pay3-mob.svg' media='(max-width: 565px)')
						img.img-responsive(src="img/icon-pay3.svg" alt="img")
			li
				.s-footer-pay-item.flex.flexalcenter.flexcenter
					picture
						source(srcset='img/icon-pay4-mob.svg' media='(max-width: 565px)')
						img.img-responsive(src="img/icon-pay4.svg" alt="img")
			li
				.s-footer-pay-item.flex.flexalcenter.flexcenter
					picture
						source(srcset='img/icon-pay5-mob.svg' media='(max-width: 565px)')
						img.img-responsive(src="img/icon-pay5.svg" alt="img")
		.s-footer-bottom.flex.flexalstretch
			.s-footer-item.item1
				ul.s-footer-menu
					li
						a(href="#") Прайс
					li
						a(href="#") Отзывы
					li
						a(href="#") Библиотека
					li
						a(href="#") Правила использования сайта
					li
						a(href="#") Полезное
			.s-footer-item.item2
				ul.s-footer-menu
					li
						a(href="#") Стать экспертом
					li
						a(href="#") Партнерская программа
					li
						a(href="#") Лента заказов
					li
						a(href="#") Эксперты
			.s-footer-item.item3
				ul.s-footer-menu
					li
						a(href="#") Контакты
					li
						a(href="#") Новости
					li
						a(href="#") Пользовательское соглашение
					li
						a(href="#") Техническая поддержка
					li
						a(href="#") Обратная связь
			.s-footer-item.item4.flex.flexright
				.s-footer-contacts  
					ul.s-footer-soc.flex
						li
							a(href="#") 
								picture
									source(srcset='img/ok-mob.svg' media='(max-width: 565px)')
									img(src="img/ok.svg" alt="img")
						li
							a(href="#")
								picture
									source(srcset='img/instagramm-mob.svg' media='(max-width: 565px)')
									img(src="img/instagramm.svg" alt="img")
						li
							a(href="#") 
								picture
									source(srcset='img/vk-mob.svg' media='(max-width: 565px)')
									img(src="img/vk.svg" alt="img")
						li
							a(href="#") 
								picture
									source(srcset='img/facebook-mob.svg' media='(max-width: 565px)')
									img(src="img/facebook.svg" alt="img")
					.s-footer-copy ©2015-2021, Студландия -  <br>Все права защищены
