.s-for
	.s-for-img
		img.img-responsive(src="img/for-bg1.svg" alt="img")
	.s-for-inner
		.wrap
			.s-for-line.flex.flexalstretch
				.s-for-block
					.s-for-item
						.s-for-item-cont
							.s-for-item-title Студенту
							.s-for-item-descr.descr1
								p Для тех, кто долистал до конца,  но так и не решился 😉
								p Ты же помнишь, что у нас есть  бонус на первый заказ?
							.s-for-item-button
								a(href="#").s-info-status-btn.s-top-form-btn.flex.flexcenter.flexalcenter.s-for-item-btn
									span Разместить задание

						.s-for-item-img
							picture
								source(srcset='img/for-img1-mob.png' media='(max-width: 565px)')
								img.img-responsive(src="img/for-img1.png" alt="img")
				.s-for-block
					.s-for-item
						.s-for-item-cont
							.s-for-item-title Эксперту
							.s-for-item-descr Зарабатывайте вместе с нами. Планируйте самостоятельно свою загруженность, а мы позаботимся о безопасной сделке и своевременной выплате вознаграждений.
							.s-for-item-button
								a(href="#").s-info-status-btn.s-top-form-btn.flex.flexcenter.flexalcenter.s-for-item-btn
									span Стать экспертом
						.s-for-item-img
							picture
								source(srcset='img/for-img2-mob.png' media='(max-width: 565px)')
								img.img-responsive(src="img/for-img2.png" alt="img")


		
									