.s-gift
	.wrap
		.s-gift-line.flex
			.s-gift-block.block1
				.s-gift-cont.flex
					.s-gift-cont-icon
						img.img-responsive(src="img/icon-gift.svg" alt="img")
					.s-gift-cont-text
						.s-gift-cont-title Пока ты думаешь, другие заказывают 😉
						.s-gift-cont-descr После размещения первого заказа бонус автоматически зачислится на ваш счет
			.s-gift-block.block2
				.right.flex.flexright
					.s-gift-offer
						.s-gift-info Дарим 200 руб. <br>на первый заказ
						.s-gift-button
							a(href="#").s-top-form-btn.flex.flexcenter.flexalcenter.s-gift-btn
								span.flex.flexcenter.flexalcenter
									img.svg(src="img/btn-gift.svg" alt="img")
									span Забрать бонус