.s-how
	.wrap
		h2.s-what-title Как получить помощь?
		.s-what-line.flex.flexcenter
			span.style1
			span
		.s-how-line.flex.flexalstretch
			.s-how-block
				.s-how-item
					.s-how-item-top.flex.flexalcenter.flexnwr
						.s-how-item-num 1
						.s-how-item-text Опишите подробно  вашу задачу
					.s-how-item-descr Чем точнее вы попишите задание,  тем быстрее мы подберем для вас нужного эксперта.
			.s-how-block
				.s-how-item
					.s-how-item-top.flex.flexalcenter.flexnwr
						.s-how-item-num 2
						.s-how-item-text Уже через  <br>5 минут
					.s-how-item-descr вы получаете первые отклики  наших экспертов
			.s-how-block
				.s-how-item
					.s-how-item-top.flex.flexalcenter.flexnwr
						.s-how-item-num 2
						.s-how-item-text Выбираете  исполнителя
					.s-how-item-descr Резервируете средства <span class="br"></span>и отдыхаете  до выполнения задания