.s-info
	.wrap
		.s-info-inner
			.s-info-img
					img.img-responsive(src="img/info-img1.png" alt="img")
			.s-info-line.flex.flexalstretch
				.s-info-block
					.s-info-status
						.s-info-status-top
							h2.s-what-title Сейчас онлайн
							.s-what-line.flex
								span.style1
								span
							ul.s-info-status-list
								li <span>1036</span> преподавателей
								li <span>20 722</span> студента
								li <span>12 000</span> работ выполняются
						.s-info-status-button
							a(href="#").s-info-status-btn.s-top-form-btn.flex.flexcenter.flexalcenter
								span Узнать стоимость своей работы
						.s-info-img
							img.img-responsive(src="img/info-img1.png" alt="img")
				.s-info-block
					.s-info-right.flex.flexright
						.s-info-tasks
							.s-info-tasks-title Похожие работы
							ul.s-info-tasks-list
								li
									.s-info-tasks-item.flex
										.s-info-tasks-item-price
											.s-info-tasks-item-sum Цена <br>15 000 руб.
											.s-info-tasks-item-time 3 минуты назад
										.s-info-tasks-item-info
											.s-info-tasks-item-cats
												.s-info-tasks-item-cat Категория
											.s-info-tasks-item-title Название работы
											ul.s-info-tasks-item-result
												li Уникальность <span>90%</span>
												li Срок выполнения <span>10 дней</span>
								li
									.s-info-tasks-item.flex
										.s-info-tasks-item-price
											.s-info-tasks-item-sum Цена <br>5000 руб..
											.s-info-tasks-item-time 20 минуты назад
										.s-info-tasks-item-info
											.s-info-tasks-item-cats.flex
												.s-info-tasks-item-cat Категория
											.s-info-tasks-item-title Название работы
											ul.s-info-tasks-item-result
												li Уникальность <span>90%</span>
												li Срок выполнения <span>10 дней</span>
								li
									.s-info-tasks-item
									
										
		
		


						
