.s-pay
	.s-pay-img
		img.img-responsive(src="img/pay-bg.svg" alt="img")
	.s-pay-inner
		.wrap
			h2.s-what-title Платите только за выполненную работу
			.s-what-line.flex.flexcenter
				span.style1
				span
			.s-pay-line.flex.flexalstretch
				.s-pay-block
					.s-pay-item
						.s-pay-item-text Деньги хранятся  <br>на вашем счете<br>  до конца выполнения задания
						.s-pay-item-img
							picture
								source(srcset='img/pay-img1-mob.png' media='(max-width: 991px)')
								img.img-responsive(src="img/pay-img1.png" alt="img")
				.s-pay-block
					.s-pay-item.item2
						.s-pay-item-text Эксперт получает деньги только после  того,  как вы примете задание
						.s-pay-item-img
							picture
								source(srcset='img/pay-img2-mob.png' media='(max-width: 991px)')
								img.img-responsive(src="img/pay-img2.png" alt="img")
		