.s-prices
	.wrap
		.s-prices-block
			.s-prices-img
				picture
					source(srcset='img/prices-arrow-mob.svg' media='(max-width: 991px)')
					img.img-responsive(src="img/prices-arrow.svg" alt="img")
			.s-prices-title Цены ниже <span>на 20-30%</span> в сентябре
			.s-prices-descr Успей заказать работу до начала высокого сезона


						
