.s-prices.style3
	.wrap
		.s-prices-block
			.s-prices-img
				picture
					source(srcset='img/prices-arrow-mob.svg' media='(max-width: 991px)')
					img.img-responsive(src="img/prices-arrow3.svg" alt="img")
			.s-prices-title.style3 Цены на курсовые работы ниже <span class="br"></span><span>на 20-30%</span> в сентябре
			.s-prices-descr Успей заказать работу до начала высокого сезона


						
