.s-reviews
	.wrap
		h2.s-what-title <span>103 972</span> студента обратились к нам  за прошлый год
		.s-what-line.flex.flexcenter
			span.style1
			span
		.s-reviews-stat.flex.flexbetween.flexalcenter
			.s-reviews-stat-marks <strong>103 972</strong> оценок
			.s-reviews-stat-rating
				.s-task-slider-item-rating
					.stars
						.on(style="width: 99.9%;")
			.s-reviews-stat-points среднее <strong>4.9</strong> из <strong>5</strong>
		.s-reviews-slider
			.swiper.js-sliderreviews.swiper-container
				.swiper-wrapper
					.swiper-slide
						a(href="#").s-reviews-slider-item
							span.s-reviews-slider-item-name Алексей
							span.s-reviews-slider-item-info ТГАСУ
							span.s-reviews-slider-item-text Не первый раз работаю с данным исполнителем, умеет работать с людьми, все на высшем уровне!
							span.s-reviews-slider-item-rating.flex.flexcenter
								span.s-task-slider-item-rating
										span.stars
											span.on(style="width: 100%;")
					.swiper-slide
						a(href="#").s-reviews-slider-item
							span.s-reviews-slider-item-name Алексей
							span.s-reviews-slider-item-info ТГАСУ
							span.s-reviews-slider-item-text Не первый раз работаю с данным исполнителем, умеет работать с людьми, все на высшем уровне!
							span.s-reviews-slider-item-rating.flex.flexcenter
								span.s-task-slider-item-rating
										span.stars
											span.on(style="width: 75%;")
					.swiper-slide
						a(href="#").s-reviews-slider-item
							span.s-reviews-slider-item-name Алексей
							span.s-reviews-slider-item-info ТГАСУ
							span.s-reviews-slider-item-text Не первый раз работаю с данным исполнителем, умеет работать с людьми, все на высшем уровне!
							span.s-reviews-slider-item-rating.flex.flexcenter
								span.s-task-slider-item-rating
										span.stars
											span.on(style="width: 100%;")
					.swiper-slide
						a(href="#").s-reviews-slider-item
							span.s-reviews-slider-item-name Алексей
							span.s-reviews-slider-item-info ТГАСУ
							span.s-reviews-slider-item-text Не первый раз работаю с данным исполнителем, умеет работать с людьми, все на высшем уровне!
							span.s-reviews-slider-item-rating.flex.flexcenter
								span.s-task-slider-item-rating
										span.stars
											span.on(style="width: 100%;")
					.swiper-slide
						a(href="#").s-reviews-slider-item
							span.s-reviews-slider-item-name Алексей
							span.s-reviews-slider-item-info ТГАСУ
							span.s-reviews-slider-item-text Не первый раз работаю с данным исполнителем, умеет работать с людьми, все на высшем уровне!
							span.s-reviews-slider-item-rating.flex.flexcenter
								span.s-task-slider-item-rating
										span.stars
											span.on(style="width: 100%;")
					.swiper-slide
						a(href="#").s-reviews-slider-item
							span.s-reviews-slider-item-name Алексей
							span.s-reviews-slider-item-info ТГАСУ
							span.s-reviews-slider-item-text Не первый раз работаю с данным исполнителем, умеет работать с людьми, все на высшем уровне!
							span.s-reviews-slider-item-rating.flex.flexcenter
								span.s-task-slider-item-rating
										span.stars
											span.on(style="width: 100%;")
					.swiper-slide
						a(href="#").s-reviews-slider-item
							span.s-reviews-slider-item-name Алексей
							span.s-reviews-slider-item-info ТГАСУ
							span.s-reviews-slider-item-text Не первый раз работаю с данным исполнителем, умеет работать с людьми, все на высшем уровне!
							span.s-reviews-slider-item-rating.flex.flexcenter
								span.s-task-slider-item-rating
										span.stars
											span.on(style="width: 100%;")
					.swiper-slide
						a(href="#").s-reviews-slider-item
							span.s-reviews-slider-item-name Алексей
							span.s-reviews-slider-item-info ТГАСУ
							span.s-reviews-slider-item-text Не первый раз работаю с данным исполнителем, умеет работать с людьми, все на высшем уровне!
							span.s-reviews-slider-item-rating.flex.flexcenter
								span.s-task-slider-item-rating
										span.stars
											span.on(style="width: 100%;")
				.reviews-pagination.s-what-slider-pagination
			.s-what-slider-arrow.next.js-next2
			.s-what-slider-arrow.prev.js-prev2




		
									