.s-task
	.wrap
		.s-task-block
			h2.s-what-title
				span.desk Просто разместите задание
				span.mob Разместите задание
			.s-task-descr а мы подберем эксперта под ваши требования
			.s-what-line.flex.flexcenter
				span.style1
				span
			ul.s-task-info.flex.flexcenter.flexalcenter
				li
					.s-task-info-item.flex.flexalcenter.flexnwr.item1
						.icon
							img(src="img/task-check.svg" alt="img")
							strong 3624+
						.text 
							.desk Преподавателей <br>на сайте
							.mob 3624+ преподавателей  <br>на сайте
				li
					.s-task-info-item.flex.flexalcenter.flexnwr
						.icon
							img(src="img/task-check.svg" alt="img")
						.text Эксперты Студландии  <br>это преподаватели Вузов
				li
					.s-task-info-item.flex.flexalcenter.flexnwr
						.icon
							img(src="img/task-check.svg" alt="img")
						.text Каждый эксперт проходит  проверку на квалификацию
			.s-task-slider
				.swiper.js-slidertask.swiper-container
					.swiper-wrapper
						.swiper-slide
							.s-task-slider-item
								.s-task-slider-item-logo
									img.img-responsive(src="img/task-logo1.png" alt="img")
								.s-task-slider-item-name Алексей
								.s-task-slider-item-date С нами с 2017 года
								ul.s-task-slider-item-info
									li Помог студенатм: <strong>10 492</strong>
									li Рейтинг: <strong>76 709</strong>
									li Среднее <strong>4.95</strong> из <strong>5</strong>
								.s-task-slider-item-score.flex.flexbetween.flexalcenter
									.s-task-slider-item-rating
										.stars
											.on(style="width: 100%;")
									.s-task-slider-item-marks 5583 оценки
						.swiper-slide
							.s-task-slider-item
								.s-task-slider-item-logo
									img.img-responsive(src="img/task-logo2.png" alt="img")
								.s-task-slider-item-name Алексей
								.s-task-slider-item-date С нами с 2017 года
								ul.s-task-slider-item-info
									li Помог студенатм: <strong>10 492</strong>
									li Рейтинг: <strong>76 709</strong>
									li Среднее <strong>4.95</strong> из <strong>5</strong>
								.s-task-slider-item-score.flex.flexbetween.flexalcenter
									.s-task-slider-item-rating
										.stars
											.on(style="width: 75%;")
									.s-task-slider-item-marks 5583 оценки
						.swiper-slide
							.s-task-slider-item
								.s-task-slider-item-logo
									img.img-responsive(src="img/task-logo3.png" alt="img")
								.s-task-slider-item-name Алексей
								.s-task-slider-item-date С нами с 2017 года
								ul.s-task-slider-item-info
									li Помог студенатм: <strong>10 492</strong>
									li Рейтинг: <strong>76 709</strong>
									li Среднее <strong>4.95</strong> из <strong>5</strong>
								.s-task-slider-item-score.flex.flexbetween.flexalcenter
									.s-task-slider-item-rating
										.stars
											.on(style="width: 55%;")
									.s-task-slider-item-marks 5583 оценки
						.swiper-slide
							.s-task-slider-item
								.s-task-slider-item-logo
									img.img-responsive(src="img/task-logo4.png" alt="img")
								.s-task-slider-item-name Алексей
								.s-task-slider-item-date С нами с 2017 года
								ul.s-task-slider-item-info
									li Помог студенатм: <strong>10 492</strong>
									li Рейтинг: <strong>76 709</strong>
									li Среднее <strong>4.95</strong> из <strong>5</strong>
								.s-task-slider-item-score.flex.flexbetween.flexalcenter
									.s-task-slider-item-rating
										.stars
											.on(style="width: 100%;")
									.s-task-slider-item-marks 5583 оценки
						.swiper-slide
							.s-task-slider-item
								.s-task-slider-item-logo
									img.img-responsive(src="img/task-logo1.png" alt="img")
								.s-task-slider-item-name Алексей
								.s-task-slider-item-date С нами с 2017 года
								ul.s-task-slider-item-info
									li Помог студенатм: <strong>10 492</strong>
									li Рейтинг: <strong>76 709</strong>
									li Среднее <strong>4.95</strong> из <strong>5</strong>
								.s-task-slider-item-score.flex.flexbetween.flexalcenter
									.s-task-slider-item-rating
										.stars
											.on(style="width: 75%;")
									.s-task-slider-item-marks 5583 оценки
						.swiper-slide
							.s-task-slider-item
								.s-task-slider-item-logo
									img.img-responsive(src="img/task-logo2.png" alt="img")
								.s-task-slider-item-name Алексей
								.s-task-slider-item-date С нами с 2017 года
								ul.s-task-slider-item-info
									li Помог студенатм: <strong>10 492</strong>
									li Рейтинг: <strong>76 709</strong>
									li Среднее <strong>4.95</strong> из <strong>5</strong>
								.s-task-slider-item-score.flex.flexbetween.flexalcenter
									.s-task-slider-item-rating
										.stars
											.on(style="width: 75%;")
									.s-task-slider-item-marks 5583 оценки
						.swiper-slide
							.s-task-slider-item
								.s-task-slider-item-logo
									img.img-responsive(src="img/task-logo3.png" alt="img")
								.s-task-slider-item-name Алексей
								.s-task-slider-item-date С нами с 2017 года
								ul.s-task-slider-item-info
									li Помог студенатм: <strong>10 492</strong>
									li Рейтинг: <strong>76 709</strong>
									li Среднее <strong>4.95</strong> из <strong>5</strong>
								.s-task-slider-item-score.flex.flexbetween.flexalcenter
									.s-task-slider-item-rating
										.stars
											.on(style="width: 75%;")
									.s-task-slider-item-marks 5583 оценки
						.swiper-slide
							.s-task-slider-item
								.s-task-slider-item-logo
									img.img-responsive(src="img/task-logo3.png" alt="img")
								.s-task-slider-item-name Алексей
								.s-task-slider-item-date С нами с 2017 года
								ul.s-task-slider-item-info
									li Помог студенатм: <strong>10 492</strong>
									li Рейтинг: <strong>76 709</strong>
									li Среднее <strong>4.95</strong> из <strong>5</strong>
								.s-task-slider-item-score.flex.flexbetween.flexalcenter
									.s-task-slider-item-rating
										.stars
											.on(style="width: 75%;")
									.s-task-slider-item-marks 5583 оценки
						.swiper-slide
							.s-task-slider-item
								.s-task-slider-item-logo
									img.img-responsive(src="img/task-logo3.png" alt="img")
								.s-task-slider-item-name Алексей
								.s-task-slider-item-date С нами с 2017 года
								ul.s-task-slider-item-info
									li Помог студенатм: <strong>10 492</strong>
									li Рейтинг: <strong>76 709</strong>
									li Среднее <strong>4.95</strong> из <strong>5</strong>
								.s-task-slider-item-score.flex.flexbetween.flexalcenter
									.s-task-slider-item-rating
										.stars
											.on(style="width: 75%;")
									.s-task-slider-item-marks 5583 оценки
						
					.task-pagination.s-what-slider-pagination
				.s-what-slider-arrow.next.js-next1
				.s-what-slider-arrow.prev.js-prev1







							
