.s-what.style1
	.wrap
		h2.s-what-title Также у нас заказывают
		.s-what-line.flex.flexcenter
			span.style1
			span
		.s-what-slider
			.swiper.js-sliderwhat1.swiper-container
				.swiper-wrapper
					.swiper-slide
						.s-what-slider-item.style1
							.s-what-slider-item-title Дипломная работа
							.s-what-slider-item-price от 10 000 руб.
							ul.s-what-slider-item-list
								li
									.s-what-slider-item-list-item.flex
										.left
											strong Срок выполнения
										.right
											span от 4 часов
								li
									.s-what-slider-item-list-item.flex
										.left
											strong Выполнено
										.right
											span 11 249 работ
								li
									.s-what-slider-item-list-item.flex
										.left
											strong Средний бал
										.right
											span 4,859
							.s-what-slider-item-bottom.flex.flexbetween.flexalcenter
								.s-what-slider-item-button
									a(href="#").s-what-slider-item-btn.s-header-btn.flex.flexalcenter.flexcenter
										span Заказать
								.s-what-slider-item-reviews.flex.flexalcenter.flexnwr
									img(src="img/what-reviews.svg" alt="img")
									span.text 103 отзыва

					.swiper-slide
						.s-what-slider-item.style2
							.s-what-slider-item-title Дипломная работа
							.s-what-slider-item-price от 1500 руб.
							ul.s-what-slider-item-list
								li
									.s-what-slider-item-list-item.flex
										.left
											strong Срок выполнения
										.right
											span от 4 часов
								li
									.s-what-slider-item-list-item.flex
										.left
											strong Выполнено
										.right
											span 11 249 работ
								li
									.s-what-slider-item-list-item.flex
										.left
											strong Средний бал
										.right
											span 4,859
							.s-what-slider-item-bottom.flex.flexbetween.flexalcenter
								.s-what-slider-item-button
									a(href="#").s-what-slider-item-btn.s-header-btn.flex.flexalcenter.flexcenter
										span Заказать
								.s-what-slider-item-reviews.flex.flexalcenter.flexnwr
									img(src="img/what-reviews.svg" alt="img")
									span.text 103 отзыва
					.swiper-slide
						.s-what-slider-item.style3
							.s-what-slider-item-title Дипломная работа
							.s-what-slider-item-price от 1800 руб.
							ul.s-what-slider-item-list
								li
									.s-what-slider-item-list-item.flex
										.left
											strong Срок выполнения
										.right
											span от 4 часов
								li
									.s-what-slider-item-list-item.flex
										.left
											strong Выполнено
										.right
											span 11 249 работ
								li
									.s-what-slider-item-list-item.flex
										.left
											strong Средний бал
										.right
											span 4,859
							.s-what-slider-item-bottom.flex.flexbetween.flexalcenter
								.s-what-slider-item-button
									a(href="#").s-what-slider-item-btn.s-header-btn.flex.flexalcenter.flexcenter
										span Заказать
								.s-what-slider-item-reviews.flex.flexalcenter.flexnwr
									img(src="img/what-reviews.svg" alt="img")
									span.text 103 отзыва
					.swiper-slide
						.s-what-slider-item.style1
							.s-what-slider-item-title Дипломная работа
							.s-what-slider-item-price от 10 000 руб.
							ul.s-what-slider-item-list
								li
									.s-what-slider-item-list-item.flex
										.left
											strong Срок выполнения
										.right
											span от 4 часов
								li
									.s-what-slider-item-list-item.flex
										.left
											strong Выполнено
										.right
											span 11 249 работ
								li
									.s-what-slider-item-list-item.flex
										.left
											strong Средний бал
										.right
											span 4,859
							.s-what-slider-item-bottom.flex.flexbetween.flexalcenter
								.s-what-slider-item-button
									a(href="#").s-what-slider-item-btn.s-header-btn.flex.flexalcenter.flexcenter
										span Заказать
								.s-what-slider-item-reviews.flex.flexalcenter.flexnwr
									img(src="img/what-reviews.svg" alt="img")
									span.text 103 отзыва
					.swiper-slide
						.s-what-slider-item.style1
							.s-what-slider-item-title Дипломная работа
							.s-what-slider-item-price от 10 000 руб.
							ul.s-what-slider-item-list
								li
									.s-what-slider-item-list-item.flex
										.left
											strong Срок выполнения
										.right
											span от 4 часов
								li
									.s-what-slider-item-list-item.flex
										.left
											strong Выполнено
										.right
											span 11 249 работ
								li
									.s-what-slider-item-list-item.flex
										.left
											strong Средний бал
										.right
											span 4,859
							.s-what-slider-item-bottom.flex.flexbetween.flexalcenter
								.s-what-slider-item-button
									a(href="#").s-what-slider-item-btn.s-header-btn.flex.flexalcenter.flexcenter
										span Заказать
								.s-what-slider-item-reviews.flex.flexalcenter.flexnwr
									img(src="img/what-reviews.svg" alt="img")
									span.text 103 отзыва
					.swiper-slide
						.s-what-slider-item.style3
							.s-what-slider-item-title Дипломная работа
							.s-what-slider-item-price от 1800 руб.
							ul.s-what-slider-item-list
								li
									.s-what-slider-item-list-item.flex
										.left
											strong Срок выполнения
										.right
											span от 4 часов
								li
									.s-what-slider-item-list-item.flex
										.left
											strong Выполнено
										.right
											span 11 249 работ
								li
									.s-what-slider-item-list-item.flex
										.left
											strong Средний бал
										.right
											span 4,859
							.s-what-slider-item-bottom.flex.flexbetween.flexalcenter
								.s-what-slider-item-button
									a(href="#").s-what-slider-item-btn.s-header-btn.flex.flexalcenter.flexcenter
										span Заказать
								.s-what-slider-item-reviews.flex.flexalcenter.flexnwr
									img(src="img/what-reviews.svg" alt="img")
									span.text 103 отзыва
					.swiper-slide
						.s-what-slider-item.style2
							.s-what-slider-item-title Дипломная работа
							.s-what-slider-item-price от 1500 руб.
							ul.s-what-slider-item-list
								li
									.s-what-slider-item-list-item.flex
										.left
											strong Срок выполнения
										.right
											span от 4 часов
								li
									.s-what-slider-item-list-item.flex
										.left
											strong Выполнено
										.right
											span 11 249 работ
								li
									.s-what-slider-item-list-item.flex
										.left
											strong Средний бал
										.right
											span 4,859
							.s-what-slider-item-bottom.flex.flexbetween.flexalcenter
								.s-what-slider-item-button
									a(href="#").s-what-slider-item-btn.s-header-btn.flex.flexalcenter.flexcenter
										span Заказать
								.s-what-slider-item-reviews.flex.flexalcenter.flexnwr
									img(src="img/what-reviews.svg" alt="img")
									span.text 103 отзыва
					.swiper-slide
						.s-what-slider-item.style1
							.s-what-slider-item-title Дипломная работа
							.s-what-slider-item-price от 10 000 руб.
							ul.s-what-slider-item-list
								li
									.s-what-slider-item-list-item.flex
										.left
											strong Срок выполнения
										.right
											span от 4 часов
								li
									.s-what-slider-item-list-item.flex
										.left
											strong Выполнено
										.right
											span 11 249 работ
								li
									.s-what-slider-item-list-item.flex
										.left
											strong Средний бал
										.right
											span 4,859
							.s-what-slider-item-bottom.flex.flexbetween.flexalcenter
								.s-what-slider-item-button
									a(href="#").s-what-slider-item-btn.s-header-btn.flex.flexalcenter.flexcenter
										span Заказать
								.s-what-slider-item-reviews.flex.flexalcenter.flexnwr
									img(src="img/what-reviews.svg" alt="img")
									span.text 103 отзыва
					
				.swiper-pagination.s-what-slider-pagination
			.s-what-slider-arrow.next.js-next
			.s-what-slider-arrow.prev.js-prev
		.s-what-button
			a(href="#").s-what-btn.s-header-btn.flex.flexalcenter.flexcenter Все услуги






						
