.s-order-task
	.wrap
		h1.s-what-title Курсовая работа: Пенсии по старости  в связи с особыми условиями труда
		.s-what-line.flex.flexcenter
			span.style1
			span
		.s-order-task-cont
			ul.s-order-task-info.flex.flexalcenter
				li
					.s-order-task-info-item.flex.flexalcenter.flexnwr
						img(src="img/order-time.svg" alt="img")
						span.text 07.09.2021 <span>в 17:16</span>
				li
					.s-order-task-info-item.flex.flexalcenter.flexnwr
						img(src="img/order-calendar.svg" alt="img")
						span.text Дата сдачи: <span>24-09-2021</span>
				li
					.s-order-task-info-item.flex.flexalcenter.flexnwr
						img(src="img/order-pulse.svg" alt="img")
						span.text Статус: <span>Архив</span>
				li
					.s-order-task-info-item.flex.flexalcenter.flexnwr
						img(src="img/order-info.svg" alt="img")
						span.text Детали заказа: <span># 120609</span>
			h2.s-order-task-title Тема: Пенсии по старости в связи с особыми условиями труда
			.s-order-task-descr
				.s-order-task-descr-label Задание:
				.s-order-task-descr-text Сложно сказать, почему некоторые особенности внутренней политики, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут подвергнуты целой серии независимых исследований. Есть над чем задуматься: действия представителей оппозиции лишь добавляют фракционных разногласий и призваны к ответу. Идейные соображения высшего порядка, а также современная методология разработки играет важную роль в формировании вывода текущих активов.
			.s-order-task-about
				.s-order-task-about-line.flex
					.s-order-task-about-block
						ul.s-order-task-about-list
							li Тип: <span>Контрольная работа</span>
							li Предмет: <span>Бухгалтерский учет и аудит</span>
							li Объем: <span>5-10 стр.</span>
					.s-order-task-about-block
						ul.s-order-task-about-list.style2
							li Практическая часть: <span>Да</span>
							li Исполнитель: <span><a href="#">Михаил Тюлькин</a></span>



		