.s-subjects
	.wrap
		h1.s-what-title Выполняем курсовые работы по предметам
		.s-what-line.flex.flexcenter
			span.style1
			span
		ul.s-subjects-list.flex.flexcenter
			li
				.s-subjects-button
					a(href="#").s-header-btn.inflex.flexalcenter.flexcenter
						span Русский язык
			li
				.s-subjects-button
					a(href="#").s-header-btn.inflex.flexalcenter.flexcenter
						span Литература
			li
				.s-subjects-button
					a(href="#").s-header-btn.inflex.flexalcenter.flexcenter
						span Алгебра
			li
				.s-subjects-button
					a(href="#").s-header-btn.inflex.flexalcenter.flexcenter
						span Геометрия
			li
				.s-subjects-button
					a(href="#").s-header-btn.inflex.flexalcenter.flexcenter
						span Информатика и ИКТ
			li
				.s-subjects-button
					a(href="#").s-header-btn.inflex.flexalcenter.flexcenter
						span История
			li
				.s-subjects-button
					a(href="#").s-header-btn.inflex.flexalcenter.flexcenter
						span География
			li
				.s-subjects-button
					a(href="#").s-header-btn.inflex.flexalcenter.flexcenter
						span Физика
			li.active
				.s-subjects-button
					a(href="#").s-header-btn.inflex.flexalcenter.flexcenter
						span Химия
			li
				.s-subjects-button
					a(href="#").s-header-btn.inflex.flexalcenter.flexcenter
						span Биология
			li
				.s-subjects-button
					a(href="#").s-header-btn.inflex.flexalcenter.flexcenter
						span Музыка
			li
				.s-subjects-button
					a(href="#").s-header-btn.inflex.flexalcenter.flexcenter
						span Обществознание
			li
				.s-subjects-button
					a(href="#").s-header-btn.inflex.flexalcenter.flexcenter
						span История
			li
				.s-subjects-button
					a(href="#").s-header-btn.inflex.flexalcenter.flexcenter
						span Алгебра
			li
				.s-subjects-button
					a(href="#").s-header-btn.inflex.flexalcenter.flexcenter
						span Русский язык
			li
				.s-subjects-button
					a(href="#").s-header-btn.inflex.flexalcenter.flexcenter
						span Литература
			li
				.s-subjects-button
					a(href="#").s-header-btn.inflex.flexalcenter.flexcenter
						span Алгебра
			li
				.s-subjects-button
					a(href="#").s-header-btn.inflex.flexalcenter.flexcenter
						span Геометрия
			li
				.s-subjects-button
					a(href="#").s-header-btn.inflex.flexalcenter.flexcenter
						span Информатика и ИКТ
			li
				.s-subjects-button
					a(href="#").s-header-btn.inflex.flexalcenter.flexcenter
						span История
		.s-subjects-arrow
			a(href="#")
				img(src="img/arrow-bottom.svg" alt="img")



		