.s-popup.mfp-with-anim.mfp-hide#popup
	.s-popup-inner
		button.mfp-close(title="Close (Esc)" type="button")
			img.svg(src="img/icon-close.svg" alt="img")
		.s-top-form
			form(action="main.php" method="post" enctype="multipart/form-data")
				.s-top-form-title Узнай стоимость  своей работы
				.s-top-form-descr.flex.flexalcenter и получи бонус <strong class="flex flexnwr flexalcenter"><img src="img/top-gift.svg" alt="img"><span>200 руб.</span></strong> на первый заказ
				.s-top-form-line.flex
					.s-top-form-block.style1
						.s-top-form-item
							select.js-select-type(name="select-type")
								option(value="")
								option(value="Курсовая") Курсовая
								option(value="Диплом") Диплом
								option(value="Курсовая") Курсовая
					.s-top-form-block.style1
						.s-top-form-item
							select.js-select-subject(name="select-subject")
								option(value="")
								option(value="Математика") Математика
								option(value="Информатика") Информатика
								option(value="Литература") Литература
					.s-top-form-block
						.s-top-form-item
							select.js-select-term(name="select-term")
								option(value="")
								option(value="2 дня") 2 дня
								option(value="2 дня") 2 дня
								option(value="2 дня") 2 дня
					.s-top-form-block
						.s-top-form-line.flex
							.s-top-form-block
								.s-top-form-item
									input(type="text" name="subject" placeholder="Тема")
							.s-top-form-block
								.s-top-form-item-file
									.s-top-form-item-file-placeholder Файлы <span>(при наличии)</span>
										label(for="file-upload1").flex.flexalcenter.flexcen.s-top-form-btn
											span.text Добавить
											input#file-upload1(type="file")
							.s-top-form-block
								.s-top-form-item
									.s-top-form-item.pages.flex.flexalcenter
										.text Страниц
										input(type="text" name="pagesfrom" placeholder="От")
										input(type="text" name="pagesto" placeholder="До")
					.s-top-form-bottom
						.s-top-form-line.flex
							.s-top-form-block
								.s-top-form-item
									.s-top-form-item-line.flex.flexalcenter.flexbetween
										.s-top-form-item-check
											.b-checkbox
												input#check01(type="checkbox" name="check01"  value="Практическая часть")
												label(for="check01")
													span.text Практическая часть
													span.icon
													
									.s-top-form-item-line.flex.flexalcenter.flexbetween
										.s-top-form-item.select1
											select.js-select-check(name="select-check")
												option(value="Antiplagiat.ru") Antiplagiat.ru
												option(value="Antiplagiat.ru") Antiplagiat.ru
												option(value="Antiplagiat.ru") Antiplagiat.ru
										.s-top-form-item
											select.js-select-check(name="select-percent")
												option(value="50%") 50%
												option(value="50%") 50%
												option(value="50%") 50%
							.s-top-form-block
								.s-top-form-item
									textarea(name="mes" placeholder="Комментарий")
								.s-top-form-item.input
									input(type="text" name="email" placeholder="E-mail")
								
							
					.s-top-form-item
						.s-top-form-options.flex.flexnwr.flexalcenter
							.s-top-form-button
								button(type="submit").s-top-form-btn.flex.flexcenter.flexalcenter
									span Узнать стоимость
							.s-top-form-item-check
								.b-checkbox
									input#check02(type="checkbox" name="agree"  value="Даю согласие на обработку персональных данных" checked)
									label(for="check02")
										span.icon
										span.text Даю согласие на обработку персональных данных