doctype html
html(lang='ru')
		include blocks/head/head.pug
		body
			.s-main.s-course.s-service
				.s-main-img
					picture
						source(srcset='img/main-bg-mob.svg' media='(max-width: 565px)')
						img.img-responsive(src="img/main-bg.svg" alt="img")
				include blocks/header
				include blocks/top2
				include blocks/prices1
				include course/offer
				include service/subjects
				.s-main-info
					.s-main-info-img
						img.img-responsive(src="img/main-info-bg.svg" alt="img")
					include blocks/info2
					include course/unique
					.s-main-task
						include blocks/task
						include blocks/how
				include blocks/pay
				.s-main-correct
					include blocks/correct
					.s-main-reviews
						.s-main-reviews-img
							img.img-responsive(src="img/main-reviews-bg.svg" alt="img")
						include blocks/reviews
						include blocks/gift
						include blocks/what1
					include blocks/faq2
				include blocks/footer
			include blocks/footer/scripts


