.s-more
	.wrap
		h2.s-what-title Может быть интересно
		.s-what-line.flex.flexcenter
			span.style1
			span
		.s-more-line.flex.flexalstretch
			.s-more-block
				ul.s-more-list
					li
						a(href="#") Заказать курсовую работу
					li
						a(href="#") Курсовая работа агрегатный участок на заказ
					li
						a(href="#") Курсовая работа по экономике на заказ
					li
						a(href="#") Курсовые работы под заказ
					li.hidden
						a(href="#") Заказать курсовую работу
			.s-more-block.hide-xs
				ul.s-more-list
					li
						a(href="#") Заказать курсовую работу
					li
						a(href="#") Курсовая работа агрегатный участок на заказ
					li
						a(href="#") Курсовые работы под заказ
					li
						a(href="#") Курсовая работа административно правовой статус гражданина на заказ
			.s-more-block.hide-sm
				ul.s-more-list
					li
						a(href="#") Курсовая работа агрегатный участок на заказ
					li
						a(href="#") Курсовая работа по экономике на заказ
					li
						a(href="#") Курсовые работы под заказ
					li
						a(href="#") Курсовая работа административно правовой статус гражданина на заказ
			.s-more-block.hide-md
				ul.s-more-list
					li
						a(href="#") Курсовая работа по экономике на заказ
					li
						a(href="#") Курсовые работы под заказ
					li
						a(href="#") Курсовая работа административно правовой статус гражданина на заказ
					li
						a(href="#") Курсовые работы под заказ
			