.s-offer
	.wrap
		h2.s-what-title Подготовим к курсовой "под ключ"
		.s-task-descr Не только выполним работу, но и подготовим презентацию и речь. От вас требуется только подробно описать в заказе все  пожелания.
		.s-what-line.flex.flexcenter
			span.style1
			span
		.s-offer-line.flex.flexalstretch.swiper-container.slider1
			.swiper-wrapper
				.s-offer-block.swiper-slide
					.s-offer-item
						.s-offer-item-icon
							picture
								source(srcset='img/offer-img1-mob.svg' media='(max-width: 565px)')
								img.img-responsive(src="img/offer-img1.svg" alt="img")
						.s-offer-item-text Оформление курсовой
				.s-offer-block.swiper-slide
					.s-offer-item
						.s-offer-item-icon
							picture
								source(srcset='img/offer-img2-mob.svg' media='(max-width: 767px)')
								img.img-responsive(src="img/offer-img2.svg" alt="img")
						.s-offer-item-text Повышение  уникальности
				.s-offer-block.swiper-slide
					.s-offer-item
						.s-offer-item-icon
							picture
								source(srcset='img/offer-img3-mob.svg' media='(max-width: 767px)')
								img.img-responsive(src="img/offer-img3.svg" alt="img")
						.s-offer-item-text Подбор<br> Литературы
				.s-offer-block.swiper-slide
					.s-offer-item
						.s-offer-item-icon
							picture
								source(srcset='img/offer-img4-mob.svg' media='(max-width: 767px)')
								img.img-responsive(src="img/offer-img4.svg" alt="img")
						.s-offer-item-text Подготовка <br>презентации
				.s-offer-block.swiper-slide
					.s-offer-item
						.s-offer-item-icon
							picture
								source(srcset='img/offer-img5-mob.svg' media='(max-width: 767px)')
								img.img-responsive(src="img/offer-img5.svg" alt="img")
						.s-offer-item-text Речь  <br>на защиту
				.s-offer-block.swiper-slide
					.s-offer-item
						.s-offer-item-icon
							picture
								source(srcset='img/offer-img6-mob.svg' media='(max-width: 767px)')
								img.img-responsive(src="img/offer-img6.svg" alt="img")
						.s-offer-item-text Курсовая  <br>под ключ
			.offer-pagination.s-what-slider-pagination
			.s-what-slider-arrow.next.js-next4
			.s-what-slider-arrow.prev.js-prev4
			