.s-unique
	.wrap
		.s-unique-block.flex
			.s-unique-icon
				picture
					source(srcset='img/unique-img1-mob.svg' media='(max-width: 767px)')
					img.img-responsive(src="img/unique-img1.svg" alt="img")
			.s-unique-cont
				h2.s-unique-title Только уникальные работы
				ul.s-unique-list
					li Заполните поле "антиплагиат" в заявке.
					li А наши эксперты проверят готовую работу в программе  <br>и предоставят подтверждение
		.s-info-status-button
			a(href="#").s-info-status-btn.s-top-form-btn.flex.flexcenter.flexalcenter
				img(src="img/icon-gift1.svg" alt="img")
				span Узнать стоимость работы

			